.app {
  overflow: hidden;
}
.header-topbar {
  display: flex;
  height: 40px;
  padding: 0 30px;
  background-color: #282828;
}
.header-topbar__left,
.header-topbar__right {
  width: 50%;
}

.topbar__left-list {
  display: flex;
}
.topbar_left-item {
  list-style: none;
  margin-right: 5px;
}
.topbar_left-link {
  display: block;
  padding: 0 8px;
  font-size: 13px;
  text-decoration: none;
  color: var(--white-color);
  line-height: 40px;
}
.topbar_left-link:hover {
  color: chocolate;
}
.topbar_left-icon {
  display: block;
  line-height: 40px;
  font-size: 20px;
}
.header-topbar__right {
  display: flex;
  justify-content: flex-end;
}
.topbar-btn {
  position: relative;
  display: block;
  font-size: 13px;
  color: var(--white-color);
  line-height: 40px;
  cursor: pointer;
}
.topbar-btn:hover .language-list {
  display: block;
}

.language-list {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  transform-origin: top;
  animation: FadeIn ease-in-out 0.2s;
  z-index: 111;
  display: none;
}
.language-item {
}
.language-link {
  display: block;
  padding: 14px 16px;
  color: var(--text-color);
  text-decoration: none;
  text-align: right;
  font-size: 13px;
  line-height: 13px;
}
.language-link:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Header ===== */

header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  padding: 0 30px;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  transition: all linear 0.3s;
  z-index: 10;
}
header.sticky {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 0;
}
header:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
.header-left,
.header-right {
  flex: 1;
  display: flex;
  align-items: center;
}
.header-right {
  justify-content: flex-end;
}
.header-menu {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header-left-navigation {
  height: 100%;
}
.header-navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.header-navigation-item {
  margin-left: 24px;
}
.header-navigation-link {
  text-decoration: none;
  padding: 8px 0;
  color: var(--text-color);
  font-size: 14px;
  position: relative;
}
.header-navigation-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  background-color: var(--text-color);
  transition: all ease-in-out 0.3s;
}
.header-navigation-item--active .header-navigation-link::after,
.header-navigation-link:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
}
.header-logo {
  height: 100%;
}
.header-logo-link {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-logo-link img {
  max-height: 24px;
  object-fit: cover;
}
.header-icon {
  font-size: 24px;
}
.header-navigation-item:hover .header-sub-menu{
  display: flex;
  background-color: var(--white-color);
}
/* Header-Sub-Menu */

.header-sub-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  padding: 60px 60px 40px;
  /* display: flex; */
  display: none;
  border: 1px solid var(--border-color);
  z-index: 3;
}
.header-sub-menu::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: transparent;
  z-index: 4;
}

.header-sub-item {
  list-style: none;
  max-width: 20%;
  width: 100%;
}
.header-sub-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.sub-menu {
  margin-top: 20px;
  /* overflow: hidden; */
}
.sub-item {
  list-style: none;
  animation: Submenu linear 0.3s;
}
.sub-link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-size: 15px;
  color: var(--text-color);
}
.sub-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--text-color);
  transition: all ease-in-out 0.3s;
}
.sub-link:hover::after {
  width: 100%;
}
.sub-link--label {
  position: relative;
  background-color: #282828;
  color: white;
  padding: 3px;
  font-size: 10px;
  top: -3px;
  border-radius: 4px;
}
.sub-link--label.demo {
  background-color: #b9a16b;
}
.sub-link-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}


/* Slider ===== */
.slider {
  width: 100%;
  max-height: 650px;
}

.slider .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* Section Banner ==== */
.section-banner {
  padding: 50px 0 30px;
  position: relative;
}
.section-banner-item {
  overflow: hidden;
}
.section-banner-img {
  transform: scale(1);
  transition: all 0.3s linear;
}
.section-banner-item:hover .section-banner-img {
  transform: scale(1.2);
  
}
.section-banner::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 0.4px;
  left: 0;
  width: 100%;
  background-color: var(--border-color);
}
.section-banner-item {
    position: relative;
    margin-bottom: 20px;
}

.section-banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 35px;
  width: 100%;
  text-align: center;
}

.banner-content-title {
  font-size: 28px;
  color: var(--white-color);
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.13);
}
.banner-content-text {
  font-size: 16px;
  color: var(--white-color);
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 40px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.13);
}
.banner-content-btn {
  display: inline-block;
  padding: 12px 28px;
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--white-color);
  transition: all 0.3s ease;
}

.banner-content-btn:hover {
  opacity: 0.8;
}


/* Best Selling */
.section-best-selling ,.section-trending{
  padding: 60px 0;
}
.best-selling-top ,.section-trending-top {
  text-align: center;
  padding: 0 15px;
}
.best-selling-top-title,.section-trending-top-title {
  font-size: 28px;
  line-height: 28px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 32px;
}
.best-selling-top-text ,.section-trending-top-text {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 40px;
}
.best-selling-item ,.section-trending-item{
  position: relative;
  width: 100%;
  bottom: 0;
  transition: all 0.3s linear;
  margin-bottom: 30px;
  cursor: pointer;
}
.best-selling-item:hover .best-selling-img-2 , .section-trending-item:hover .section-trending-img-2 {
  top: -3px;
  opacity: 1;
}
.best-selling-item:hover .best-selling-img-1 ,.section-trending-item:hover .section-trending-img-1{
  opacity: 0;
}
.best-selling-item:hover .selling-content-link{
  opacity: 1;
  background-color: #fff;

}
.best-selling-img-2 ,.section-trending-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

.selling-content-list {
  position: absolute;
  top: 5%;
  right: 5%;
}
.selling-content-item {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
}
.selling-content-item--active .selling-content-link {
  opacity: 1;
}
.selling-content-link {
  display: block;
  width: 36px;
  text-align: center;
  height: 36px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  color: var(--text-color);
  opacity: 0;
  transition: all 0.2s linear;
}
.selling-content-icon {
  position: relative;
  left: -1px;
  top: -1px;
}

.selling-content-link:hover {
  transform: scale(1.1);
}
.selling-content-item:hover .selling-item-detail{
  display: inline-block;
}
.selling-item-detail {
  position: absolute;
  top: 8px;
  right: 42px;
  width: 90px;
  text-align: center;
  padding: 2px 8px;
  background-color: #282828;
  color: white;
  border-radius: 3px;
  transform-origin: right;
  animation: FadeIn 0.2s linear;
  display: none;
}
.selling-item-detail::after {
  content: "";
  border-color: transparent transparent transparent #282828;
  border-style: solid;
  border-width: 4px;
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.best-selling-content ,.section-trending-content {
  padding: 16px 0;
}
.best-selling-name ,.section-trending-name {
  font-size: 16px;
  color: #282828;
  font-weight: 400;
}

.best-selling-price ,.section-trending-price{
  color: #777777;
  font-size: 16px;
  margin-top: 12px;
}


/* section-Testimonials */

.section-Testimonials {
  padding: 80px 0 50px;
  background-color: #f1e8df;
}
.Testimonials-title {
  font-size: 28px;
  line-height: 28px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}
.item-slider {
  text-align: center;
}

.section-Testimonials .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Trending */
.section-trending-item:hover .trending-content-list  {
  opacity: 1;
  transform: scale(1);
}
.trending-content-list {
  position: absolute;
  bottom: 95px;
  left: 0;
  width: 100%;
  list-style: none;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s linear;
}

.trending-content-link {
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  border: 1px solid rgba(119, 119, 119,0.1);
  background-color: white;
  color: var(--text-color);
}
.trending-content-link:hover .trending-content-icon {
  transition: all 0.2s linear;
}
.trending-content-link:hover .trending-content-icon {
  transform: scale(1.2);
}
.new-product-label {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 2px 12px;
  border-radius: 30px;
  background-color: white;
  color: #282828;
}
.sale-product-label {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 2px 12px;
  border-radius: 30px;
  background-color: white;
  color: coral;
}
/* .section-visit */
.section-visit {
  padding: 60px 0;
  border-top: 1px solid var(--border-color);
}
.section-visit-top-title {
  font-size: 28px;
  line-height: 28px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 32px;
}

.section-visit-top-text {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 40px;
}
.section-visit-top-text a{
  position: relative;
  line-height: 18px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
.section-visit-top-text a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: all linear 0.3s;
}
.section-visit-top-text a:hover::after {
  width: 100%;
}
.section-visit-img img {
  width: 100%;
  object-fit: cover;
}


/* Footer */

footer {
  border-top: 1px solid var(--border-color);
}
.footer-navlist {
  padding: 60px 0;
}
.footer-title {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 15px;
}
.footer-item {
  list-style: none;
  margin-bottom: 10px;
}
.footer-link{
  display: inline-block;
  padding: 8px 0;
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
  position: relative;
}
.footer-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  display: block;
  transition: all linear 0.3s;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-info-title {
  font-size: 14px;  
  padding: 8px 0;
  font-weight: normal;
  line-height: 16px;
  margin-bottom: 10px;
}

.follow-social-list {
  list-style: none;
  display: flex;
}
.follow-social-item {
  margin-right: 10px;
}
.follow-social-link {
  font-size: 20px;
  color: black;
  display: inline-block;
  padding: 8px;
}

.footer-ct {
  padding: 10px 0 60px;
}
.footer-contact {
  text-align: center;
}

.footer-contact-title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--text-color);
}

.footer-contact-text {
  font-size: 14px;
  font-weight: 300;
}
.footer-contact-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-form-input {
  font-size: 14px;
  outline: none;
  padding: 12px;
  display: block;
  min-width: 240px;
  border: 2px solid black;
  min-height: 54px;
}

.footer-form-btn {
  display: block;
  min-width: 112px;
  min-height: 54px;
  font-size: 14px;
  background-color: black;
  color: white ;
  margin-left: 10px;
  cursor: pointer;
}

.footer-copyright {
  border-top: 1px solid var(--border-color);
  padding: 30px 0 30px;
}
.footer-policy  {

}
.footer-policy a {
  position: relative;
  font-size: 15px;
  padding: 8px 0;
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
}
.footer-policy a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #282828;
  transition: all 0.3s linear;
}
.footer-policy a:hover::after {
  width: 100%;
}
.footer-policy a:first-child {
  margin-right: 20px;
}
.copyright {
  text-align: right;
}
.copyright span {
  font-size: 15px;
  display: inline-block;
  padding: 8px 0;
  color: var(--text-color);
}




/* Mobile */

.header-mobile {
  height: 60px;
  padding: 0 30px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s linear;
  display: none;
}
.header-mobile:hover {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.change-bg {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header-mobile-logo-link img {
  max-height: 24px;
}
.header-mobile-cart,.header-mobile-menu {
  outline: none;
  border: none;
  background-color: transparent;
}
.header-mobile-icon {
  font-size: 24px;
}
.btn-shop-cart {
  position: relative;
}
.cart-label {
  position: absolute;
  top: 0;
  left: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px;
  font-size: 10px;
  background-color: #b9a16b;
  border-radius: 50%;
}

/* Slider mobile */

.slider-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding: 70px 50px 50px;
  z-index: 100;
  transition: all 0.3s linear;
}
.slider-mobile.active {
  transform: translateX(0);
  opacity: 1;
  visibility: inherit;
  transition: all 0.3s linear;
}
.slider-mobile-left {
  width: 355px;
}
.slider-mobile-list {
  height: 475px;
  border-bottom: 1px solid black;
}
.slider-mobile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.slider-mobile-link {
  position: relative;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
}
.slider-mobile-item i {
  font-size: 22px;
  color: var(--text-color);
  display: inline-block;
  padding: 6px;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.slider-mobile-item:hover .slider-mobile-link::after {
  width: 100%;
} 
.slider-mobile-item:hover .slider-submenu-container{
  display: flex;
}
.slider-mobile-item:hover i {
  background-color:#f2f2f2;
}
.slider-mobile-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.3s linear;
}
.slider-mobile-close {
  position: absolute;
  top: 35px;
  transform: translateY(-50%);
  
}
.slider-mobile-close i {
  font-size: 30px;
  display: inline-block;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 50%;

}
.slider-language-info {
  margin-top: 40px;
  display: flex;
  align-items: baseline;

}

.slider-language-title {
  font-weight: 400;
  font-size: 13px;
}

.slider-language-info p {
  font-size: 14px;
  margin-left: 15px;
}
.slider-language-info p i {
  font-size: 18px;
}
.slider-social-list {
  margin-top: 30px;
}

.slider-social-list i {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.slider-submenu-container {
  position: absolute;
  left: 450px;
  top: 70px;
 width: calc(100% - 500px);
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
  transform-origin: bottom;
  animation: FadeIn 0.3s ease-in;
}
.slider-submenu-container::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 50px;
  height: 100%;
}
.slider-mobile-submenu {
  width: calc( 100% / 3 - 20px);
  list-style: none;
  margin-bottom: 40px;
}
.slider-submenu-title {
  font-size: 16px;
  margin-bottom: 25px;
}
.slider-mobile-subitem {
  margin-bottom: 10px;
}
.slider-mobile-sublink {
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: var(--text-color);
  padding: 8px 0;
}
.slider-mobile-sublink::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #282828;
  transition: all 0.3s linear;
}
.slider-mobile-sublink:hover::after {
  width: 100%;
}
.slider-mobile-sublink span {
  position: relative;
  margin-left: 10px;
  bottom: 3px;
  padding: 4px;
  display: inline-block;
  color: white;
  background-color: #b9a16b;
  border-radius: 5px;
  font-size: 12px;
}


/* Cart slider */
.cart-slider {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 460px;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 20;
  max-width: 100%;
  transform: translateX(100%);
  transition: all 0.3s linear;
  will-change: transform;
  overflow-y: auto;
}
.cart-slider.active {
  transform: translateX(0);
  transition: all 0.3s linear;
}
.cart-slider-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 50px;
  background-color:#fafafa;
}
.cart-slider-title {
  font-size: 18px;
}
.close-cart {
  background-color: transparent;
  outline: none;
  border: transparent;
  font-size: 34px;
  position: relative;
  top: 3px;
}
.cart-slider-list {
  flex: 1;
  list-style: none;
  padding: 20px 50px;
}
.cart-slider-item {
  display: flex;
}
.cart-slider-img {
  width: 100px;
  display: block;
  height: 100px;
  margin-right: 20px;
  cursor: pointer;
  object-fit: cover;

}
.btn-cart {
  margin: 0 50px;
  display: block;
  text-align: center;
  height: 45px;
  line-height: 41px;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-size: 14px;
}
.check-out {
  margin-top: 10px;
  background-color: black;
  color: white;
}
.cart-item-info {
  flex: 1;
}
.cart-slider-item {
  font-size: 13px;
  font-weight: 300;
  color: var(--text-color);
  padding: 20px 0;
  border-bottom: 1px solid rgba(119, 119, 119,0.1);
}
.cart-item-quantity {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
}
.back-quantity,.next-quantity {
  outline: none;
  background-color: transparent;
  border: transparent;
  font-size: 17px;
}
.quantity {
  margin: 0 8px;
}
.cart-item-check {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-item-delete {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  font-size: 25px;
}
.cart-price {
  font-size: 15px;
  margin-top: 5px;
}
.cart-slider-footer {
  padding-bottom: 50px;
}
.cart-footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-size: 15px;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255,0.3);
  animation: FadeIn linear 0.3s;
  z-index: 19;
  display: none;
}
.btn-cart-mobile {
  outline: none;
  background-color: transparent;
  border: transparent;
}

.menu-mobile-2 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 460px;
  max-width: 100%;
  z-index: 20;
  background-color: white;
  transform: translateX(-100%);
  transition: all 0.3s linear;
  will-change: transform;
}
.menu-mobile-2.active {
  transform: translateX(0);
  transition: all 0.3s linear;
  will-change: transform;
}
.menu-mobile-container {
  padding: 0 50px;
  overflow-y: auto;
  height: 100%;
}
.close-menu-mobile-2 {
  height: 70px;
  display: flex;
  align-items: center;
}
.close-menu-mobile-2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #f2f2f2;
  border: transparent;
  width: 36px;
  height: 36px;
  font-size: 30px;
  border-radius: 50%;
}

.menu-mobile-search {
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #282828;
}
.menu-mobile-search i {
  font-size: 20px;
  display: inline-block;
}
.menu-mobile-search input {
  height: 100%;
  width: 100%;
  margin-left: 10px;
  padding: 8px 0;
  border: transparent;
  outline: none;
}
.menu-mobile-2-list {
  list-style: none;
  padding: 40px 0;
  border-bottom: 1px solid rgba(119, 119, 119,0.3);
}
.menu-mobile-2-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-mobile-2-item i {
  font-size: 24px;
}
.menu-mobile-2-link {
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 12px 0;
  color: var(--text-color);
}
.menu-mobile-2-login , .menu-mobile-2-cart ,.menu-mobile-2-wishlist ,.menu-mobile-2-language{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(119, 119, 119,0.3);
}
.menu-mobile-2-login span ,.menu-mobile-2-cart span , .menu-mobile-2-wishlist span ,.menu-mobile-2-language span{
  font-size: 16px;
}
.menu-mobile-2-login i ,.menu-mobile-2-wishlist i ,.menu-mobile-2-cart i{
  font-size: 20px;
}
.menu-mobile-2-language a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  color: var(--text-color);
}
.menu-mobile-2-language a i {
  display: inline-block;
  margin-left: 5px;
}

.list-mb-social {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 30px 0 60px;
}
.link-mb-social {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
}